<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sla Sistem drveni paneli</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200, 400, 700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial:100, 400, 700" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-expand-md navbar-dark" data-spy="affix" data-offset-top="197" id="nav">
        <a href="" class="navbar-brand">
            <h3 class="mb-0">Sla Sistem</h3>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="navitem">
                    <a href="#about" class="nav-link">Proizvodi</a>
                </li>
                <li class="navitem">
                    <a href="#gallery" class="nav-link">Galerija</a>
                </li>
                <li class="navitem">
                    <a href="#contact" class="nav-link">Kontakt</a>
                </li>
                <li class="navitem">
                    <a href="/english" class="nav-link">English</a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="showcase" class="d-flex justify-content-center align-items-center">
        <div id="overlay">

        </div>
        <div class="container text-white text-center" id="header">
            <h3 class="display-5 mb-0">Ručno izrađeni drveni paneli</h3>
            <h1 class="display-1" id="bigtitle">Sla Sistem</h1>
            <p class="lead d-none d-md-block">Učinite svoj stan, kuću ili poslovni prostor jedinstvenim. </p>
            <a href="#gallery" id="look" class="btn btn-lg btn-primary px-5" data-spy="affix">Galerija</a>
        </div>
    </section>

    <section id="about">
        <div class="container mt-5">

            <div class="row mt-5">
                <div class="col-md-4 p-3">
                    <h3>Prirodna dekoracija</h3>
                    <p class="lead">Bilo da želite izuzetan detalj u svom enterijeru ili oblaganje celog zida, <strong>Slasistem</strong>
                        paneli oplemenjuju prostor zahvaljujući prirodnoj toploti drveta, mekano razlažu i upijaju
                        zvuk i predstavljaju jedinstveni dekorativni element.</p>
                </div>

                <div class="col-md-4 p-3">
                    <h3>Najrazličitiji proizvodi</h3>
                    <p class="lead">Od panela je moguće praviti <strong>unikatne čiviluke, radne stolove, šankove, info
                            pultove,
                            zidne police, sobna i ulazna vrata, uzglavlja za krevete</strong> itd.
                        Panele izrađujemo po prethodno uzetim merama tako da nije potrebno kupovati više kvadrata nego
                        što je neophodno.</p>
                </div>
                <div class="col-md-4 p-3">
                    <h3>Ručna izrada</h3>
                    <p class="lead">Elementi panela se natapaju uljem tehnikom <strong>ručnog utrljavanja ulja na
                            vodenoj bazi</strong>
                        tako da su paneli trajno zaštićeni od napada parazita i atmosferskih uticaja. Boje kojima se
                        izgleda prostorija koje se renoviraju ili tek prave.</p>
                </div>

            </div>
        </div>
    </section>






    <section id="gallery">
        <div class="container text-center mt-4">
            <h3 class="text-primary mb-5">Galerija</h3>
            <div class="row">
                <div class="col-6 col-lg-3 mb-4">
                    <a href="images/Avangard_big.jpg" data-toggle="lightbox" data-gallery="front-gallery">
                        <img src="images/Avangard_big.jpg" class="img-fluid img-thumbnail" alt="">
                    </a>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <a href="images/Bking_large.jpg" data-toggle="lightbox" data-gallery="front-gallery">
                        <img src="images/Bking_large.jpg" class="img-fluid img-thumbnail" alt="">
                    </a>
                </div>

                <div class="col-6 col-lg-3 mb-4">
                    <a href="images/brutale_big.jpg" data-toggle="lightbox" data-gallery="front-gallery">
                        <img src="images/brutale_big.jpg" class="img-fluid img-thumbnail" alt="">
                    </a>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <a href="images/multistrada_big.jpg" data-toggle="lightbox" data-gallery="front-gallery">
                        <img src="images/multistrada_big.jpg" class="img-fluid img-thumbnail" alt="">
                    </a>

                </div>

            </div>

            <div class="row">
                <div class="col-6 col-lg-3">
                    <a href="images/shiver_big.jpg" data-toggle="lightbox" data-gallery="front-gallery">
                        <img src="images/shiver_big.jpg" class="img-fluid img-thumbnail" alt="">
                    </a>

                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <a href="images/sr50_big.jpg" data-toggle="lightbox" data-gallery="front-gallery">
                        <img src="images/sr50_big.jpg" class="img-fluid img-thumbnail" alt="">
                    </a>

                </div>

                <div class="col-6 col-lg-3 mb-4">
                    <a href="images/IMG_0790.JPG" data-toggle="lightbox" data-gallery="front-gallery">
                        <img src="images/IMG_0790.JPG" class="img-fluid img-thumbnail" alt="">
                    </a>

                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <a href="images/e.jpg" data-toggle="lightbox" data-gallery="front-gallery">
                        <img src="images/e.JPG" class="img-fluid img-thumbnail" alt="">
                    </a>

                </div>

            </div>
            <div class="row d-flex justify-content-center"><button id="galbutton" class="btn btn-lg btn-primary px-5">Galerija</button></div>


        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h3 class="text-primary text-center mb-5">Obratite nam se</h3>
            <div class="row text-center">
                <div class="col-sm-6 first-box boxhover">
                    <h1><i class="fas fa-phone"></i></h1>
                    <h3>Telefon</h3>
                    <p>066-555-4841</p><br>
                </div>
                <div class="col-sm-6 second-box boxhover">
                    <h1><i class="far fa-address-book"></i></h1>
                    <h3>Adresa</h3>
                    <p>Lole Ribara 17, Meljak, Barajevo</p><br>
                </div>
                <div class="col-sm-6 third-box boxhover">
                    <h1><i class="far fa-envelope"></i></h1>
                    <h3>E-mail</h3>
                    <p>sla.sistem@gmail.com</p><br>
                </div>
                <div class="col-sm-6 fourth-box boxhover">
                    <h1><i class="fas fa-laptop"></i></h1>
                    <h3>Web</h3>
                    <p>www.slasistem.rs</p><br>
                </div>
            </div>
        </div>
    </section>

    <% if (typeof pictures != 'undefined') { %>
    <section id="remove">
        <div class="container text-center mt-4">
            <h3 class="text-primary mb-5">Galerija 2</h3>
            <div class="row">
            <% for (var i = 0; i < pictures.length; i++) { %>
                       
                    <div class="col-6 col-lg-3">
                        <a href="<%= pictures[i].url %>" data-toggle="lightbox" data-gallery="second-gallery">
                            <img src="<%= pictures[i].url %>" class="img-fluid img-thumbnail" alt="">
                        </a>    
                    </div>
    
                
           <% } %>     
        </div>     
        </div>
        
    </section>
    <% } %>

    <section id="footer" class="bg-secondary mt-5">
        <div class="container">
            <div class="row text-white d-flex justify-content-center text-center align-items-center">
                <div class="col-sm-6">
                    <h3>Sla Sistem, 2018-2019</h3>
                    <p class="light">Sva prava zadržana (ime Sla Sistem, slike, tekstovi i dodatne informacije.</p>

                </div>
                <div class="col-sm-6 light">hand coded by <a href="http://www.freethrow.rs">freethrow</a></div>
            </div>




        </div>

    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        $("#nav ul li a[href^='#']").on('click', function (e) {

            // prevent default anchor click behavior
            e.preventDefault();

            // store hash
            var hash = this.hash;

            // animate
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 1000, function () {

                // when done, add hash to url
                // (default click behaviour)
                window.location.hash = hash;
            });

        });
    </script>
</body>

</html>